@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%; }

.header-nav {
  line-height: 65px;
  text-align: center;
  transition: 0.2s; }

.header-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .header-container__logo {
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem;
    color: #fff; }
  .header-container__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 8opx; }

.dropbtn {
  border: none; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: black;
  opacity: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: darkgrey; }

.dropdown:hover .dropdown-content {
  display: block; }

a:hover {
  color: #2A2140; }

.sidenav {
  display: flex;
  flex-direction: column;
  width: 13vw;
  background-color: black;
  opacity: 80%;
  font-size: 1.5rem;
  height: 100%; }
  .sidenav__link {
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem; }
  .sidenav__link:hover {
    color: #2c2727;
    cursor: pointer; }

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 86vw;
  margin-top: 2rem; }

.mailConfirmMessage {
  font-size: 4rem;
  color: black; }

.logIn-card {
  height: 30%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 4%; }
  .logIn-card__header {
    font-size: 6rem;
    color: white; }
  .logIn-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem; }
    .logIn-card__body__error {
      color: red !important;
      font-size: 1.5rem; }
  .logIn-card__input {
    width: 29rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    border: hidden;
    padding-left: 1rem;
    font-size: 2rem; }
  .logIn-card__input:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important; }
  .logIn-card__icon {
    font-size: 3rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem; }
  .logIn-card__btn {
    color: white;
    background-color: #2A2140;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    transition: all .2s; }
  .logIn-card__btn:disabled:hover {
    cursor: not-allowed;
    background-color: #2A2140; }
  .logIn-card__btn:hover {
    cursor: pointer;
    color: white;
    background-color: #673946; }

.signUp-card {
  height: 30%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 4%; }
  .signUp-card__header {
    font-size: 6rem;
    color: white; }
  .signUp-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem; }
    .signUp-card__body__error {
      color: red !important;
      font-size: 1.5rem; }
  .signUp-card__input {
    width: 29rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    border: hidden;
    padding-left: 1rem;
    font-size: 2rem; }
  .signUp-card__input:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important; }
  .signUp-card__icon {
    font-size: 3rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem; }
  .signUp-card__btn {
    color: white;
    background-color: #2A2140;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 1rem;
    margin: auto;
    border: none;
    font-size: 2rem; }
  .signUp-card__btn:disabled:hover {
    cursor: not-allowed;
    background-color: #2A2140; }
  .signUp-card__btn:hover {
    cursor: pointer;
    color: white;
    background-color: #673946; }
  .signUp-card .passwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.categoryCard {
  background-color: rgba(21, 20, 24, 0.5);
  border-radius: 5%; }
  .categoryCard__title {
    font-size: 3rem; }
  .categoryCard h3 {
    color: white; }
  .categoryCard__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .categoryCard__editBtn {
    color: white;
    background-color: #121299;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    transition: all .2s; }
  .categoryCard__editBtn:disabled:hover {
    cursor: not-allowed;
    background-color: #121299; }
  .categoryCard__editBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #38388f; }
  .categoryCard__deleteBtn {
    color: white;
    background-color: #b11d1d;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    transition: all .2s; }
  .categoryCard__deleteBtn:disabled:hover {
    cursor: not-allowed;
    background-color: #b11d1d; }
  .categoryCard__deleteBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #be4444; }

a {
  cursor: pointer; }

#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent; }

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: transparent; }

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #673946; }

.categories__row {
  width: 100%;
  margin: auto;
  padding: 6rem;
  margin-top: -7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem; }

.category__header {
  font-size: 4rem; }

.subcategory__header {
  font-size: 4rem; }

.productCard {
  background-color: rgba(21, 20, 24, 0.5);
  border-radius: 5%;
  display: grid; }
  .productCard__title {
    font-size: 3rem; }
  .productCard__image {
    width: 20rem !important;
    height: 20rem !important; }
  .productCard h3 {
    color: white; }
  .productCard__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .productCard__editBtn {
    color: white;
    background-color: #121299;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    transition: all .2s; }
  .productCard__editBtn:disabled:hover {
    cursor: not-allowed;
    background-color: #121299; }
  .productCard__editBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #38388f; }
  .productCard__deleteBtn {
    color: white;
    background-color: #b11d1d;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    transition: all .2s; }
  .productCard__deleteBtn:disabled:hover {
    cursor: not-allowed;
    background-color: #b11d1d; }
  .productCard__deleteBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #be4444; }

a {
  cursor: pointer; }

#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent; }

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: transparent; }

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #673946; }

.products__row {
  width: 100%;
  margin: auto;
  padding: 6rem;
  margin-top: -7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem; }

.adminPanel-wrapper {
  width: 70vw; }
  .adminPanel-wrapper__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    margin-left: 4rem;
    padding: 2rem; }
  .adminPanel-wrapper__input {
    width: 29rem;
    height: 4rem;
    margin-top: 2rem;
    border-radius: 5rem;
    padding-left: 1rem;
    font-size: 2rem;
    margin-left: 7rem; }
  .adminPanel-wrapper__addBtn {
    color: white;
    background-color: #17c917;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    transition: all .2s;
    margin-left: auto;
    margin-left: 7rem;
    margin-right: 2rem; }
  .adminPanel-wrapper__addBtn:disabled:hover {
    cursor: not-allowed;
    background-color: #17c917; }
  .adminPanel-wrapper__addBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #5de65d; }
  .adminPanel-wrapper__showBtn {
    color: white;
    background-color: #17c917;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    transition: all .2s;
    margin-left: 1.5rem;
    margin-left: 7rem;
    margin-right: 2rem;
    margin-bottom: 5rem; }
  .adminPanel-wrapper__showBtn:disabled:hover {
    cursor: not-allowed;
    background-color: #17c917; }
  .adminPanel-wrapper__showBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #5de65d; }

.swal2-popup {
  font-size: 2.5rem !important; }

.image_dropzone {
  width: 30rem; }

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  height: 100%;
  left: 0;
  outline: 0;
  overflow: auto;
  padding: 0 16px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  /* Adjust according to your needs */
  text-align: center; }
  .modal.fade-anim {
    opacity: 0;
    will-change: opacity; }
    .modal.fade-anim .modal-content {
      transform: translate(0, -25%);
      will-change: transform; }
  .modal.in .modal-content {
    transform: translate(0, 0); }
  .modal.fade-anim.in {
    opacity: 1; }

.modal-open {
  overflow: hidden; }

.modal-content {
  background-color: #FFFFFF;
  border-radius: 4px;
  margin: 16px auto;
  max-width: 580px;
  position: relative;
  width: 100%;
  will-change: opacity;
  display: inline-block;
  text-align: left; }
  .modal-content-size-m {
    max-width: 992px; }
  .modal-content-size-l {
    max-width: 1200px; }

.modal-header,
.modal-footer {
  align-items: center;
  display: flex;
  height: 56px;
  padding: 0 16px; }

.modal-header {
  border-bottom: 1px solid #cecece;
  justify-content: center; }
  .modal-header h3 {
    color: inherit; }

.modal-body {
  padding: 16px; }

.modal-footer {
  border-top: 1px solid #cecece;
  justify-content: flex-end; }
  .modal-footer .btn {
    margin: 0 0 0 8px; }

.modal-content {
  font-size: 5rem;
  width: 100rem;
  height: 50rem;
  max-width: none !important;
  margin: 20rem auto; }

.img-wrap {
  position: relative;
  height: 15rem;
  width: 15rem; }

.img-wrap .image {
  height: 15rem;
  width: 15rem;
  border: dotted gray 0.1rem; }

.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
  font-size: 2rem; }

.image_dropzone_edit {
  width: 15rem;
  height: 15rem !important; }
