@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%; }

.header-nav {
  line-height: 65px;
  text-align: center;
  transition: 0.2s; }

.header-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .header-container__logo {
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem;
    color: #fff; }
  .header-container__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 8opx; }

.dropbtn {
  border: none; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: black;
  opacity: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: darkgrey; }

.dropdown:hover .dropdown-content {
  display: block; }

a:hover {
  color: #2A2140; }

.sidenav {
  display: flex;
  flex-direction: column;
  width: 13vw;
  background-color: black;
  opacity: 80%;
  font-size: 1.5rem;
  height: 100%; }
  .sidenav__link {
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem; }
  .sidenav__link:hover {
    color: #2c2727;
    cursor: pointer; }

.logIn-card {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 65%;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 4%; }
  .logIn-card__header {
    font-size: 6rem;
    color: white; }
  .logIn-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem; }
    .logIn-card__body__error {
      color: red !important;
      font-size: 1.5rem; }
  .logIn-card__input {
    width: 29rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    border: hidden;
    padding-left: 1rem;
    font-size: 2rem; }
  .logIn-card__input:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important; }
  .logIn-card__icon {
    font-size: 3rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem; }
  .logIn-card__btn {
    color: white;
    background-color: #2A2140;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    transition: all .2s; }
  .logIn-card__btn:disabled:hover {
    cursor: not-allowed;
    background-color: #2A2140; }
  .logIn-card__btn:hover {
    cursor: pointer;
    color: white;
    background-color: #673946; }

.mailConfirmMessage {
  font-size: 4rem;
  color: black; }

.proba {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.signUp-card {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 65%;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 4%; }
  .signUp-card__header {
    font-size: 6rem;
    color: white; }
  .signUp-card__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem; }
    .signUp-card__body__error {
      color: red !important;
      font-size: 1.5rem; }
  .signUp-card__input {
    width: 29rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    border: hidden;
    padding-left: 1rem;
    font-size: 2rem; }
  .signUp-card__input:focus {
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important; }
  .signUp-card__icon {
    font-size: 3rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem; }
  .signUp-card__btn {
    color: white;
    background-color: #2A2140;
    width: 15rem;
    height: 4rem;
    border-radius: 10rem;
    margin-top: 1rem;
    margin: auto;
    border: none;
    font-size: 2rem; }
  .signUp-card__btn:disabled:hover {
    cursor: not-allowed;
    background-color: #2A2140; }
  .signUp-card__btn:hover {
    cursor: pointer;
    color: white;
    background-color: #673946; }
  .signUp-card .passwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.categoryCard {
  background-color: rgba(21, 20, 24, 0.5);
  border-radius: 5%; }
  .categoryCard__title {
    font-size: 3rem; }
  .categoryCard h3 {
    color: white; }
  .categoryCard__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }

a {
  cursor: pointer; }

#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent; }

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: transparent; }

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #673946; }

.categories__row {
  width: 86.1vw;
  margin: auto;
  padding-top: 4rem;
  padding-left: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

.category__header {
  font-size: 4rem; }

.subcategory__header {
  font-size: 4rem; }

.productCard {
  background-color: rgba(21, 20, 24, 0.5);
  border-radius: 5%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .productCard__title {
    font-size: 3rem; }
  .productCard__image {
    width: 20rem !important;
    height: 20rem !important; }
  .productCard h3 {
    color: white; }
  .productCard__row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }

a {
  cursor: pointer; }

#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent; }

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: transparent; }

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #673946; }

.authError {
  font-size: 7rem;
  font-weight: bolder;
  color: black;
  margin-left: 10rem; }
