.header-nav {
    line-height: 65px;
    text-align: center;
    transition: 0.2s; 
}

.header-container{
    padding: 0.5rem;
    display: flex ;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;

    &__logo {
        text-decoration: none;
        font-size: 3rem;
        padding: 1rem;
        color: #fff;
    }

    &__image{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 8opx;
    }
}
.dropbtn {
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: darkgrey;}
  
  .dropdown:hover .dropdown-content {display: block;}
  

a:hover {
    color: #2A2140;
}