.header-nav {
    line-height: 45px;
    text-align: left;
    transition: 0.2s; 
    padding-left: 2rem;
}

.header-container{
    padding: 0.5rem;
    display: flex ;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;

    &__logo {
        text-decoration: none;
        font-size: 3rem;
        padding: 1rem;
        color: #fff;
        
    }
    &__logo__left {
      text-decoration: none;
      font-size: 3rem;
      padding: 1rem;
      color: #fff;
      
  }
    &__logo:hover{
        color: #372066 ;
      
    }
    &__logo__left:hover{
      color:#73C4DD ;
    
  }
    &__image{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 8opx;
    }
}
.dropbtn {
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 20rem;
    background-color: #F5F5F5;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
     padding-left: 1rem;
    text-decoration: none;
    display: block;
    color: #372066;
    font-size: 2rem;
  }
  
  .dropdown-content a:hover {background-color: darkgrey;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
