.logIn-card{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 65%;
    width: 30vw;
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 4%;

    &__header{
        font-size: 6rem;
        color: white;
    }
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5rem;

        &__error{
            color: red !important;
            font-size: 1.5rem;
        }
    }
  
    &__input{
        width: 29rem;
        height: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 5rem;
        border: hidden;
        padding-left: 1rem;
        font-size: 2rem;
    }
    &__input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important; 
    }
    &__icon{
       font-size: 3rem;
       padding-right: 1rem;
       padding-bottom: 0.5rem;
    }
    &__btn{
        color: white;
        background-color: #2A2140;
        width: 15rem;
        height: 4rem;
        border-radius: 10rem;
        margin-top: 2rem;
        border: none;
        font-size: 2rem;
        transition: all .2s;
    }
   
    &__btn:disabled:hover{
        cursor: not-allowed;
        background-color: #2A2140;
     }
    &__btn:hover{
        cursor: pointer;
        color: white;
        background-color: #673946;
    }
  
}
.mailConfirmMessage{
    font-size: 4rem;
    color: black;
}

.proba{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  

    