.modal-content{
    font-size: 5rem;
    width: 70rem;
    max-width: none !important;
    margin: 20rem auto;
}
.modal-footer{
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__saveBtn{
        color: white;
        background-color:rgb(21, 46, 187);
        width: 12rem;
        height: 3rem;
        border-radius: 10rem;
        margin-top: 2rem;
        border: none;
        font-size: 2rem;
        transition: all .2s;
        margin-left: 1rem;
    }

    &__saveBtn:disabled:hover{
        cursor: not-allowed;
        background-color:rgb(21, 46, 187);
     }

     &__saveBtn:hover{
        cursor: pointer;
        color: white;
        background-color:rgb(19, 5, 146);
    }

    &__cancelBtn{
        color: white;
        background-color:rgb(193, 190, 202);
        width: 12rem;
        height: 3rem;
        border-radius: 10rem;
        margin-top: 2rem;
        border: none;
        font-size: 2rem;
        transition: all .2s;
    }

     &__cancelBtn:hover{
        cursor: pointer;
        color: white;
        background-color:rgb(120, 120, 129);
    }
}
.img-wrap {
    position: relative;
    height: 15rem;
    width: 15rem;
}
.img-wrap .image{
    height: 15rem;
    width: 15rem;
    border: dotted gray 0.1rem;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    font-size: 2rem;
}
.image_dropzone_edit{
    width: 15rem;
    height: 15rem !important;
}