.sidenav{
  display: flex;
  flex-direction: column;
  width: 13vw;
  background-color: #F5F5F5;
  // opacity : 80%;
  font-size: 1.5rem;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  color: #372066;

  &__div{
    display: flex;
    height: 100%;
  }

  &__categories{
    padding-top: 1rem;
    cursor: pointer;
  }

  &__link{
    font-size: 2rem;
    text-decoration: none;
    color: #372066;
    padding: 1rem 2rem;
    // font-weight: bold;
 }

 &__link:hover{
   color: #73C4DD ;
   cursor: pointer;
 }
 
}
.showSideBarBtn{
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border: none;
  background-color:#F5F5F5;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  outline: none;
  position: absolute;
  z-index: 1;
}

.fa-bars{
  font-size: 4rem;
  color: #372066;
}
