.signUp-card{
    height: 30%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 30vw;
    background-color:#F5F5F5 !important;
    border-radius: 4%;

    &__header{
        font-size: 6rem;
        color: #372066;
    }
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5rem;

        &__error{
            color: red !important;
            font-size: 1.5rem;
            height: 2rem;
        }
    }
    &__input{
        width: 29rem;
        height: 4rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 5rem;
        border: hidden;
        padding-left: 1rem;
        font-size: 2rem;
    }
    &__input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important; 
    }
    &__icon{
       font-size: 3rem;
       padding-right: 1rem;
       padding-bottom: 0.5rem;
       
    }
    &__btn{
        color: white;
        background-color: #372066;
        width: 15rem;
        height: 4rem;
        border-radius: 10rem;
        margin-top: 3rem;
        border: none;
        font-size: 2rem;
    }
    &__btn:disabled:hover{
        cursor: not-allowed;
        background-color: #372066;
     }
    &__btn:hover{
        cursor: pointer;
        color: white;
        background-color: #5633A0;
    }

    .passwords{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
  

    