<div *ngIf="!product">loading</div>
<div *ngIf="product" class="product-details-wrapper">

<div>
    <h1 class="product-details-wrapper__name">{{product.name}}</h1>

    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

</div>
<div class="product-details-wrapper__info">
    <div class="product-details-wrapper__info__instock">
        <div *ngIf="product.amount>0" class="product-details-wrapper__info__instock">
            <i class="fas fa-check"></i>
            <span> In stock</span>
            <i *ngIf="discountPrice>6000" class="fas fa-truck"></i>
            <span *ngIf="discountPrice>6000">Free delivery</span>
        </div>
        <i *ngIf="product.amount==0" class="fas fa-times"></i>
        <span *ngIf="product.amount==0">Out of stock</span>
    </div>
    <div class="product-details-wrapper__info__price">
        <p *ngIf="product.discount!=0" class="product-details-wrapper__info__dicountprice"><s class="product-details-wrapper__info__discountprice" *ngIf="product.discount!=0">{{product.price}}</s> 
             <span class="product-details-wrapper__info__discount">{{product.discount}} % off </span>
        </p>
        <p *ngIf="product.discount==0">{{product.price}} RSD</p>
        <p *ngIf="product.discount!=0">{{discountPrice}} RSD</p>
    </div>
    <div class="product-details-wrapper__info__cart">
        <input class="product-details-wrapper__info__cart__amount" min="1" type="number">
        <button class="product-details-wrapper__info__cart__btn" value="Add to cart"><i class="fas fa-shopping-cart"></i> Add to cart</button>
    </div>
    <div class="product-details-wrapper__info__wishlist">
        <button class="product-details-wrapper__info__wishlist__btn"><i class="fas fa-heart"></i></button>
    </div>
</div>

</div>
<div *ngIf="product">
    <table class="product-info-table">
        <thead id="thead" class="thead">
          <tr>
            <th id="info" style="background-color: white;" scope="col"><a name="info"  (click)="tabClick($event.target.name)"><i class="fas fa-info table-icon"></i>Additional info</a></th>
            <th id="reviews" scope="col"><a name="reviews"  (click)="tabClick($event.target.name)"><i class="fas fa-star table-icon"></i>Reviews</a></th>
            <th id="questions"scope="col"><a name="questions"  (click)="tabClick($event.target.name)"><i class="fas fa-comments table-icon"></i>Questions and answers</a></th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Code</td>
                <td>{{product._id}}</td>
                <td></td>
            </tr>
          <tr *ngFor="let info of additionalInfo | keyvalue">            
            <td>{{info.key}}</td>
            <td *ngIf="!isArray(info.value)">{{info.value}}</td>
            <td *ngIf="isArray(info.value)">
                <div  *ngFor="let i of info.value">{{i}}</div>
            </td>
            <td></td>
          </tr>
          <tr *ngFor="let info of additionalInfo | keyvalue">            
            <td>{{info.key}}</td>
            <td *ngIf="!isArray(info.value)">{{info.value}}</td>
            <td *ngIf="isArray(info.value)">
                <div  *ngFor="let i of info.value">{{i}}</div>
            </td>
            <td></td>
          </tr>
          <tr *ngFor="let info of additionalInfo | keyvalue">            
            <td>{{info.key}}</td>
            <td *ngIf="!isArray(info.value)">{{info.value}}</td>
            <td *ngIf="isArray(info.value)">
                <div  *ngFor="let i of info.value">{{i}}</div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>

