.home {
    width: 100%;
    height: 200vh;
    background-image: url("/assets/images/Wallpapers.jpg");
    background-position:  center bottom;
    background-size: cover;
    background-attachment: fixed;
}

.main_container{
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}

