<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="adminPanel-wrapper">
  <div class="adminPanel-wrapper__split">
    <div>

      <form [formGroup]="addNewElementFormGroup" (submit)="submitAddForm()" *ngIf="addClicked"
        class="edit_users_wrapper">
        <div *ngIf="type!='users'">
          <ngx-dropzone [multiple]="type=='products'" [maxFileSize]="1000000000" accept="image/jpeg,image/jpg,image/png"
            class="image_dropzone" (change)="onFileSelect($event)">
            <ngx-dropzone-label>Drop your image here!</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
              [removable]="true" (removed)="onFileRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
          <p class="signUp-card__body__error">{{errorMessage}}</p>
        </div>

        <div class="input-error-div">
          <input class="adminPanel-wrapper__input" formControlName="name" id="name" name="name"
            required type="text" placeholder="Name">
          <p class="input-error-div__paragraph"
            *ngIf="addNewElementFormGroup.get('name').touched && addNewElementFormGroup.get('name').errors?.required">
            This
            field is required.</p>
          <p class="input-error-div__paragraph"
            *ngIf="addNewElementFormGroup.get('name').touched && addNewElementFormGroup.get('name').errors?.minlength">
            Minimum
            2 characters required.</p>
        </div>
        <div *ngIf="type=='products'" class="textarea-error-div">
          <textarea class="adminPanel-wrapper__textarea" formControlName="description" id="description" name="description"
            required  placeholder="Description"></textarea>
          <p class="input-error-div__paragraph"
            *ngIf="addNewElementFormGroup.get('description').touched && addNewElementFormGroup.get('description').errors?.required">
            This
            field is required.</p>
          <p class="input-error-div__paragraph"
            *ngIf="addNewElementFormGroup.get('description').touched && addNewElementFormGroup.get('description').errors?.minlength">
            Minimum
            10 characters required.</p>
        </div>
        <div *ngIf="type=='subcategories' || type=='products'" class="input-error-div">
          <select formControlName="categorySelection" (change)="getSelectedCategory($event.target.value)"
            class="adminPanel-wrapper__input">
            <option value="null" disabled="true" [selected]="true">Select category</option>
            <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
          </select>
          <p class="input-error-div__paragraph"
            *ngIf="type=='subcategories' && addNewElementFormGroup.get('categorySelection').touched && addNewElementFormGroup.get('categorySelection').errors?.required">
            This
            field is required.</p>
        </div>
        <div *ngIf="type=='products'" class="input-error-div">
          <select formControlName="subcategorySelection" (change)="getSelectedSubcategory($event.target.value)"
            class="adminPanel-wrapper__input">
            <option value="null" disabled="true" [selected]="true">Select subcategory</option>
            <option *ngFor="let subcategory of filteredSubcategories" value="{{subcategory._id}}">{{subcategory.name}}
            </option>
          </select>
          <p class="input-error-div__paragraph"
            *ngIf=" type=='products' && addNewElementFormGroup.get('subcategorySelection').touched && addNewElementFormGroup.get('subcategorySelection').errors?.required">
            This
            field is required.</p>
        </div>
        <div *ngIf="type=='products'"class="input-error-div">
          <input class="adminPanel-wrapper__input" formControlName="price" id="price" name="price"
            required type="number" placeholder="Price (RSD)">
          <p class="input-error-div__paragraph"
            *ngIf="addNewElementFormGroup.get('price').touched && addNewElementFormGroup.get('price').errors?.required">
            This
            field is required.</p>
        </div>
        <div *ngIf="type=='products'" class="input-error-div">
          <input class="adminPanel-wrapper__input" formControlName="discount" id="discount" name="discount"
             type="number" placeholder="Discount (%)">
        </div>
        <div *ngIf="type=='products'"class="input-error-div">
          <input class="adminPanel-wrapper__input" formControlName="amount" id="price" name="amount"
            required type="number" placeholder="Amount">
          <p class="input-error-div__paragraph"
            *ngIf="addNewElementFormGroup.get('amount').touched && addNewElementFormGroup.get('amount').errors?.required">
            This
            field is required.</p>
        </div>
        <form [formGroup]="addNewInputFormGroup" (submit)="submitAddInputForm()" class="new-input-form" *ngIf="addInputClicked">
          <h1 class="formHeader">Add input</h1>
          <div class="input-error-div">
            <input class="adminPanel-wrapper__input" formControlName="inputName" id="inputName" name="inputName"
              required type="text" placeholder="Input name">
            <p class="input-error-div__paragraph"
              *ngIf="addNewInputFormGroup.get('inputName').touched && addNewInputFormGroup.get('inputName').errors?.required">
              This
              field is required.</p>
            <p class="input-error-div__paragraph"
              *ngIf="addNewInputFormGroup.get('inputName').touched && addNewInputFormGroup.get('inputName').errors?.minlength">
              Minimum
              2 characters required.</p>
          </div>
          <div class="input-error-div">
          <select formControlName="inputTypeSelection" (change)="getSelectedInputType($event.target.value)"
            class="adminPanel-wrapper__input">
            <option value="null" disabled="true" [selected]="true">Select type</option>
            <option *ngFor="let inputType of myEnum" value="{{inputType.key}}">{{inputType.key}}
            </option>
          </select>
          <p class="input-error-div__paragraph"
            *ngIf="addNewInputFormGroup.get('inputTypeSelection').touched && addNewInputFormGroup.get('inputTypeSelection').errors?.required">
            This
            field is required.</p>
        </div>
        <div *ngIf="inputTypeListSelected" class="input-error-div">
          <input class="adminPanel-wrapper__input" formControlName="inputListElement"  id="inputListElement" name="inputListElement"
            type="text" placeholder="Input value">
            <button (click)="addInputValue()" class="adminPanel-wrapper__addInputValueBtn" type="button">+</button>
       
            
          <p class="input-error-div__paragraph">{{inputValueError}}</p>
            
        </div>
        <div class="input-list-values-div">
          <div class="input-list-values-div__row" *ngFor="let value of inputValues">
           <p>{{value}} </p>
           <i class="fas fa-minus" (click)="deleteInputValueClick(value)"></i>
          </div>
        </div>
        <div>
          <input formControlName="required"  type="checkbox" value="Required"><span  class="adminPanel-wrapper__checkbox">Required</span>
        </div>
        <div>
          <input formControlName="searchable" type="checkbox" value="Searchable"><span  class="adminPanel-wrapper__checkbox">Searchable</span>
        </div>
        <input class="adminPanel-wrapper__addInputBtn" [disabled]="addNewInputFormGroup.invalid" type="submit" style="margin-left: 10rem;" value="Add">

      </form>
        <div class="input-error-div">
          <button *ngIf="!addInputClicked && (type=='categories' || type=='subcategories')" class="adminPanel-wrapper__addInputBtn" (click)="showAddInputForm()" type="button"
            value="Add new input">+ Add new input</button>
        </div>
        <div class="input-error-div__btn">
          <input class="adminPanel-wrapper__addBtn" [disabled]="addNewElementFormGroup.invalid" type="submit"
            value="Add">
        </div>

      </form>

    </div>
    <div class="adminPanel-wrapper__items">

      <input *ngIf="!addClicked && type!='users'" class="adminPanel-wrapper__showBtn" type="submit"
        (click)="showAddForm()" value="+ Add new">

      <app-categories *ngIf="type=='categories' || type=='subcategories'" [type]="type"></app-categories>
      <app-products *ngIf="type=='products'"></app-products>

      <div *ngIf="type=='users'">

        <table class="users-table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users;let i=index">
              <th scope="row">{{i +1}}</th>
              <td>{{user.name}}</td>
              <td>{{user.surrname}}</td>
              <td>{{user.email}}</td>
              <td>{{user.role}}</td>
              <td><button name="{{user._id}}" class="users-table__editBtn" (click)="editClick(user)"
                  value="Edit">Edit</button></td>
              <td><button name="{{user._id}}" class="users-table__deleteBtn" (click)="deleteClick($event.target.name)"
                  value="Delete">Delete</button></td>
            </tr>

          </tbody>
        </table>
      </div>


    </div>
  </div>

</div>