<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="cardContainer">
<p class="mailConfirmMessage" *ngIf="message"> You successfully confirmed your mail! </p>
<div class="logIn-card">
    <div class="logIn-card__header">
        <h3>Log In</h3>
    </div>
    
        <form [formGroup]="logInFormGroup" (submit)="logIn()" class="logIn-card__body">

            <div>
                <span><i class="fas fa-user logIn-card__icon"></i></span>

                <input class="logIn-card__input" id="email" name="email" [(ngModel)]="email" type="text"  formControlName="email" required placeholder="email">
            </div>
            <p class="logIn-card__body__error" *ngIf="!logInFormGroup.controls.email.valid && logInFormGroup.controls.email.touched">This field is required</p>

                <div>
                    <span><i class="fas fa-key logIn-card__icon"></i></span>
                
                <input class="logIn-card__input" id="password" name="password"  formControlName="password" [(ngModel)]="password" required type="password"
                    placeholder="password">
            </div>
            <p class="logIn-card__body__error" *ngIf="!logInFormGroup.controls.password.valid && logInFormGroup.controls.password.touched">This field is required.</p>

            <input type="submit" value="Log in" [disabled]="logInFormGroup.invalid" class="logIn-card__btn">

        </form>
    
</div>

</div>