<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="modal-content">
  <div class="modal-header">
    <h4>{{title}}</h4>
  </div>
  <form [formGroup]="addNewElementFormGroup" (submit)="onSave()">
    <!-- <div  [ngClass]="elementType=='users' ? 'edit_users_wrapper' : 'adminPanel-wrapper__row'" > -->
    <div class="edit_users_wrapper">
      <div *ngIf="elementType!='users'" class="adminPanel-wrapper__imagesDrop">

        <div class="adminPanel-wrapper__images">
          <div *ngFor="let image of images">
            <div class="adminPanel-wrapper__row" *ngIf="!showNgxDropzone || elementType=='products'" class="img-wrap">
              <a (click)="deleteImage(image)"><i class="fas fa-times close"></i></a>
              <img class="image" src="http://localhost:3000/images/{{image}}">
            </div>
          </div>
        </div>

        <ngx-dropzone *ngIf="showNgxDropzone || elementType=='products' " [multiple]="elementType=='products'"
          [maxFileSize]="1000000000" accept="image/jpeg,image/jpg,image/png" class="image_dropzone_edit"
          (change)="onFileSelect($event)">
          <ngx-dropzone-label>Drop your image here!</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
            [removable]="true" (removed)="onFileRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>

        <p class="signUp-card__body__error">{{errorMessage}}</p>
      </div>
      <div class="input-error-div">
        <input class="adminPanel-wrapper__input" formControlName="name" [(ngModel)]="name" id="name" name="name" required
        type="text" placeholder="name">
        <p class="input-error-div__paragraph"
        *ngIf="addNewElementFormGroup.get('name').touched && addNewElementFormGroup.get('name').errors?.required">This
        field is required.</p>
      <p class="input-error-div__paragraph"
        *ngIf="addNewElementFormGroup.get('name').touched && addNewElementFormGroup.get('name').errors?.minlength">
        Minimum
        2 characters required.</p>
      </div>
      <div *ngIf="elementType=='users'" class="input-error-div">
        <input class="adminPanel-wrapper__input" formControlName="surrname"
        [(ngModel)]="surrname" id="surrname" name="surrname" required type="text" placeholder="surrname">
        <p class="input-error-div__paragraph"
        *ngIf="addNewElementFormGroup.get('surrname').touched && addNewElementFormGroup.get('surrname').errors?.required">This
        field is required.</p>
      <p class="input-error-div__paragraph"
        *ngIf="addNewElementFormGroup.get('surrname').touched && addNewElementFormGroup.get('surrname').errors?.minlength">
        Minimum
        2 characters required.</p>
      </div>
      
      <div *ngIf="elementType=='users'" class="input-error-div">
        <input  class="adminPanel-wrapper__input" formControlName="email" [(ngModel)]="email"
        id="email" name="email" required type="text" placeholder="email">
        <p class="input-error-div__paragraph"
        *ngIf="addNewElementFormGroup.get('email').touched && addNewElementFormGroup.get('email').errors?.required">This
        field is required.</p>
      <p class="input-error-div__paragraph"
        *ngIf="addNewElementFormGroup.get('email').touched && addNewElementFormGroup.get('email').errors?.minlength">
        Minimum
        2 characters required.</p>
      </div>
      <div *ngIf="elementType=='users'" class="input-error-div">

        <select (change)="getSelectedRole($event.target.value)" class="adminPanel-wrapper__input">
        <option *ngFor="let role of roles" [selected]="role==element.role"
          value="{{role}}">{{role}}</option>
      </select>
      </div>
      <div *ngIf="elementType=='subcategories'" class="input-error-div">
        <select (change)="getSelectedCategory($event.target.value)" class="adminPanel-wrapper__input">
        <option *ngFor="let category of categories" [selected]="category._id==element.category._id"
          value="{{category._id}}">{{category.name}}</option>
      </select>
      </div>
      <div *ngIf="elementType=='products'" class="input-error-div"> 
        <select (change)="getSelectedSubcategory($event.target.value)" class="adminPanel-wrapper__input">
        <option *ngFor="let subcategory of subcategories" [selected]="subcategory._id==element.subcategory._id"
          value="{{subcategory._id}}">{{subcategory.name}}</option>
      </select>
      </div>
     
    </div>
    <br>
    <div class="modal-footer">
      <button type="button" class="categoryCard__deleteBtn" (click)="onCancel()">Cancel</button>
      <input type="submit" [disabled]="addNewElementFormGroup.invalid" class="categoryCard__editBtn" value="Save">
    </div>
  </form>
</div>