<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div (mouseleave)="leaveHoverEvent()" class="sidenav__div">
  
<div id="sidenav" class="sidenav">
    <a *ngIf="(loggedUser | async) && role=='admin'"  class="sidenav__link" routerLink="/adminPanel/categories">Categories</a>
    <a *ngIf="(loggedUser | async) && role=='admin'"  class="sidenav__link" routerLink="/adminPanel/subcategories">Subcategories</a>
    <a *ngIf="(loggedUser | async) && role=='admin'"  class="sidenav__link" routerLink="/adminPanel/products">Products</a>
    <a *ngIf="(loggedUser | async) && role=='admin'" class="sidenav__link" routerLink="/adminPanel/users">Users</a>
    
<div (mouseenter)="categoryHoverEvent(category)" class="sidenav__categories" *ngFor="let category of categories">
  <a *ngIf="((loggedUser | async) && role=='user') || !(loggedUser | async)" class="sidenav__link">{{category.name}}</a>
</div>
</div>


<div *ngIf="hoveredCategory" id="sidenav2" class="sidenav">
  <div  class="sidenav__categories" *ngFor="let subcategory of hoveredCategory.subcategories">
    <a *ngIf="((loggedUser | async) && role=='user') || !(loggedUser | async)" [routerLink]="['products',subcategory._id]" class="sidenav__link">{{subcategory.name}}</a>
  </div>
</div>
<div>
  <button class="showSideBarBtn" (click)="onShowSideBar()"><i class="fas fa-bars"></i></button>
</div>


</div>